<section class="site-nav">
    <header>
        <nav class="nav">
            <div class="nav-left">
                <a class="nav-item is-brand" href="http://websiddu.com"><img src="/images/logo.svg"></a>
                <span class="nav-item is-direction">&rarr;</span>
                <a href="/" class="nav-item is-sub-brand is-tab"> <img src="/images/blog.svg"></a>
            </div>


            <span class="nav-toggle">
                <span></span>
            <span></span>
            <span></span>
            </span>

            <div class="nav-right nav-menu">
                <a class="nav-item is-tab" href="http://websiddu.com">
                    Portfolio
                </a>
                <a class="nav-item is-tab" href="http://blog.websiddu.com">
                    Blog
                </a>
                <a class="nav-item is-tab" href="http://photos.websiddu.com">
                    Photos
                </a>
                <a class="nav-item is-tab" href="http://cook.websiddu.com">
                    Cook
                </a>
                <a class="nav-item is-tab" href="http://about.websiddu.com">
                    About
                </a>
            </div>
        </nav>
    </header>
</section>
